html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
    link(rel="stylesheet", href="css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap", rel="stylesheet")
    title GULP TASK
  body
    header
      .container
        .menu-wrapper
          nav.navbar.navbar-expand-lg.navbar-light
            a.navbar-brand(href='#')
            button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item.active
                  .dropdown
                    a.dropdown-toggle(href='#' data-toggle='dropdown')
                      | Для мужчин
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Пункт 1
                      li
                        a(href='#') Пункт 2
                      li.divider
                      li
                        a(href='#') Пункт 3
                li.nav-item
                  .dropdown
                    a.dropdown-toggle(href='#' data-toggle='dropdown')
                      | Для женщин
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Пункт 1
                      li
                        a(href='#') Пункт 2
                      li.divider
                      li
                        a(href='#') Пункт 3
                li.nav-item
                  .dropdown
                    a.dropdown-toggle(href='#' data-toggle='dropdown')
                      | Для детей
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#') Пункт 1
                      li
                        a(href='#') Пункт 2
                      li.divider
                      li
                        a(href='#') Пункт 3
          .logo
            img(src="img/logo.svg", alt="logo")
            | THE LOOP
          .nav-menu
            a(href="#") Оплата
            a(href="#") Доставка
          .shopping-cart
            i.fa.fa-shopping-basket(aria-hidden='true')
            img(src="img/arrow.svg", alt="shopping-cart")
        #carouselExampleIndicators.carousel.slide(data-ride='carousel')
          .wrapper-slide-text
            h5 Зимняя распродажа
            h1 Скидки до 90%
            .btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#myModal')
              | СМОТРЕТЬ МОДЕЛИ
          ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
            li(data-target='#carouselExampleIndicators' data-slide-to='1')
            li(data-target='#carouselExampleIndicators' data-slide-to='2')
            li(data-target='#carouselExampleIndicators' data-slide-to='3')
          .carousel-inner
            .carousel-item.active
              .price 
                h6.old-price 9 900 ₽
                h3.new-price 1 900 ₽
              img.d-block.w-100(src='img/cross.png' alt='pic')
            .carousel-item
              .price 
                h6.old-price 24 900 ₽
                h3.new-price 15 900 ₽
              img.d-block.w-100(src='https://clipart-best.com/img/men-shoes/men-shoes-clip-art-9.png' alt='pic')
            .carousel-item
              .price 
                h6.old-price 7 900 ₽
                h3.new-price 3 900 ₽
              img.d-block.w-100(src='https://clipart-best.com/img/women-shoes/women-shoes-clip-art-22.png' alt='pic')
            .carousel-item
              .price 
                h6.old-price 12 900 ₽
                h3.new-price 2 900 ₽
              img.d-block.w-100(src='https://cdn.pixabay.com/photo/2017/09/24/01/32/shoe-2780626_1280.png' alt='pic')
    section.delivery
      .container
        h3 БЕСПЛАТНАЯ ДОСТАВКА ОТ 3000₽
        p Сделайте заказ и получите подарок!
    section
      .collections-wrapper
        .collection-m-wrapper
          .collection-m
            .collection-m-text
              h5
                |МУЖСКАЯ
                span КОЛЛЕКЦИЯ
              p Обувь, полуверы, костюмы
              .btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#myModal')
                i.fa.fa-long-arrow-right(aria-hidden='true')
            .collection-m-img
              img(src="img/collection-m.png", alt="pic")
        .collection-w-wrapper
          .collection-w
            .collection-w-text
              h5
                |ЖЕНСКАЯ
                span КОЛЛЕКЦИЯ
              p Обувь, полуверы, костюмы
              .btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#myModal')
                i.fa.fa-long-arrow-right(aria-hidden='true')
            .collection-w-img
              img(src="img/collection-w.png", alt="pic")  
      .container
        .dress-wrapper
          .dress 
            p ПЛАТЬЯ
            img(src="img/dress-1.jpg", alt="pic")
          .dress 
            p ПЛАТЬЯ
            img(src="img/dress-2.jpg", alt="pic")
          .dress 
            p ПЛАТЬЯ
            img(src="img/dress-1.jpg", alt="pic")
          .dress 
            p ПЛАТЬЯ
            img(src="img/dress-2.jpg", alt="pic")
          .dress 
            p ПЛАТЬЯ
            img(src="img/dress-2.jpg", alt="pic")
          .dress 
            p ПЛАТЬЯ
            img(src="img/dress-1.jpg", alt="pic")
          .dress 
            p ПЛАТЬЯ
            img(src="img/dress-2.jpg", alt="pic")
          .dress 
            p ПЛАТЬЯ
            img(src="img/dress-1.jpg", alt="pic")
    section.clon
      .container
        h2 НОВЫЕ модели
        .models-wrapper
          .model
            .model-inner
              img(src="img/model.jpg", alt="pic")
              h6 Коктейльное платье
              p ₽ 40 000
          .model
            .model-inner
              img(src="img/model.jpg", alt="pic")
              h6 Коктейльное платье
              p ₽ 40 000
          .model
            .model-inner
              img(src="img/model.jpg", alt="pic")
              h6 Коктейльное платье
              p ₽ 40 000
          .model
            .model-inner
              img(src="img/model.jpg", alt="pic")
              h6 Коктейльное платье
              p ₽ 40 000     
        .btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#myModal')
         |ВСЕ МОДЕЛИ
         i.fa.fa-long-arrow-right(aria-hidden='true')
    section.form
      .container
        .form-wrapper
          h5 ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
          form(action="")
            input(type="email", placeholder='Ваш e-mail')
            button.btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#myModal')
             |ПОДПИСАТЬСЯ
    section.clon
      .container
        h2 СКИДКИ ДО 90%
        .models-wrapper
          .model
            .model-inner
              img(src="img/model.jpg", alt="pic")
              h6 Коктейльное платье
              p ₽ 40 000
          .model
            .model-inner
              img(src="img/model.jpg", alt="pic")
              h6 Коктейльное платье
              p ₽ 40 000
          .model
            .model-inner
              img(src="img/model.jpg", alt="pic")
              h6 Коктейльное платье
              p ₽ 40 000
          .model
            .model-inner
              img(src="img/model.jpg", alt="pic")
              h6 Коктейльное платье
              p ₽ 40 000   
        .btn.btn-primary.btn-lg(type='button' data-toggle='modal' data-target='#myModal')
         |ВСЕ МОДЕЛИ
         i.fa.fa-long-arrow-right(aria-hidden='true')
    section.footer
      .container
        .row
          .col-4.logo-box
            .logo
              img(src="img/logo.svg", alt="logo")
              | THE LOOP
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
          .col-2
            ul
              p ОСНОВНЫЕ ССЫЛКИ
              li О компании
              li Каталог
              li Доставка
              li Оплата
          .col-2
            ul
              p Категории
              li Мужская одежда
              li Женская одежда
              li Детская одежда
              li Для животных
          .col-2
            ul
              p ПОЛЕЗНЫЕ ССЫЛКИ
              li Таблица размеров
              li Блог о моде
              li Наша миссия
          .col-2
             ul
              p СОЦ СЕТИ
              li 
                i.fa.fa-vk(aria-hidden='true')
                | VK.com
              li
                i.fa.fa-facebook-square(aria-hidden='true')
                | Facebook
              li
                i.fa.fa-instagram(aria-hidden='true')
                | Instagram
    footer
      .container
        .footer-wrapper
          p Copyright © 2019. Все права защищены
          p Политика приватности
    #myModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            table#box
    script(type='text/livescript' src='app.js')
    script(src="https://use.fontawesome.com/bf65c55b8a.js")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js", integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI", crossorigin="anonymous")
